= f.input :token, :label => "Campfire API Token"
= f.input :subdomain, :label => "Campfire Subdomain", :hint => "Example: (subdomain.campfirenow.com)"
= f.input :room, :label => "Campfire Room"
= f.input :use_ssl, :as => :boolean, :wrapper => :checkbox, :input_html => { :checked => @hook.configuration["use_ssl"].to_s == "1" }, :label => "Use SSL?"
