= f.input :token, :label => "Talker API Token"
= f.input :subdomain, :label => "Talker Subdomain (subdomain.talkerapp.com)"
= f.input :room, :label => "Talker Room"
= f.input :use_ssl, :as => :boolean, :wrapper => :checkbox, :input_html => { :checked => @hook.configuration["use_ssl"].to_s == "1" }, :label => "Use SSL?"
