= f.input :user, :label => "Send with this Notifo service"
= f.input :key, :label => "Identified by this API key"
= f.input :recipients, :label => "Send to these recipients (separated by comma)", :as => :text, :input_html => {:class => "span6 standard-low-text-field"}
%p.hint= "You can create a new Notifo service <a href='http://notifo.com/services' target='_blank'>here</a>".html_safe
