# production:
#   github_secure: "think_of_secure_token" # default: nil
#   bitbucket_secure: "think_of_secure_token" # default: nil
#   url_host: "ci.yoursite.com" # this MUST be setup for emails notifications to work
#   ajax_reload: false                     # "building" or "always"
#   build_dir: "tmp"                       # default: "builds"
#   log: "log/bear.log"                    # default: use Rails log
#   homedir: "/home/deploy"                # Must be set if you want to load environments
#   loadenv: true  # "load environment when doing builds. You probably want to do this"
