= f.input :sender_full_jid, :label => "XMPP/GoogleTalk account"
= f.input :sender_password, :as => :string, :label => "Password"
= f.input :recipients, :label => "Send to these recipients (separated by comma)", :hint => "Tip: You can enter your <a href='http://partychapp.appspot.com/' target='_blank'>partychat</a> room there".html_safe
